.button {
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1.7rem;
  font-weight: 700;
  color: #0202EE;
  text-transform: uppercase;
  background-color: #EEEE02;
  border: 3px solid #0202EE;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.button:hover {
  color: #efdb00;
  background-color: #0202EE;
  transition: all 0.5s ease-in;
}

@media (max-width: 767px) {
  .button {
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 1.5rem;
  }
}
